<a href="https://colab.research.google.com/github/MirzaUmar1/SIC-Artificial-Intelligence/blob/main/Lab%20Tasks/SICLab08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab Practice Tasks**

## **Pandas Series Operations**

### **Task 1:**

Create and Perform Arithmetic Operations on Series
Create two Pandas Series using the following data:

Series 1: [10, 20, 30, 40] with index ['a', 'b', 'c', 'd']<br>
Series 2: [5, 10, 15, 20] with index ['a', 'b', 'c', 'd']<br>
Perform the following operations:

Add the two Series together,
Subtract Series 2 from Series 1,
Multiply the Series,
Divide Series 1 by Series 2,
Print the results of each operation,

In [1]:
import pandas as pd

In [6]:
series1 = pd.Series([10,20,30,40], index = ['a','b','c','d'])
series2 = pd.Series([5,10,15,20], index = ['a','b','c','d'])

addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2
print('Addition\n',addition)
print('\nSubtraction\n',subtraction)
print('\nMultiplication\n',multiplication)
print('\nDivision\n',division)

Addition
 a    15
b    30
c    45
d    60
dtype: int64

Subtraction
 a     5
b    10
c    15
d    20
dtype: int64

Multiplication
 a     50
b    200
c    450
d    800
dtype: int64

Division
 a    2.0
b    2.0
c    2.0
d    2.0
dtype: float64

### **Task 2:**

Analyze Data Using Statistical Methods<br>
Create a Pandas Series with the following values: [34, 27, 45, 30, np.nan, 41, 50].

Perform the following statistical operations:

Calculate the mean, sum, and standard deviation of the Series.
<br>Identify the minimum and maximum values in the Series.<br>
Print the results of each operation.

In [7]:
import numpy as np

data = pd.Series([34,27,45,30,np.nan,41,50])

data_mean = data.mean()
data_sum = data.sum()
data_std = data.std()
data_min = data.min()
data_max = data.max()

print('Mean:',data_mean)
print('Sum:',data_sum)
print('Standard Deviation:',data_std)
print('Minimum:',data_min)
print('Maximum:',data_max)

Mean: 37.833333333333336
Sum: 227.0
Standard Deviation: 8.975893641675277
Minimum: 27.0
Maximum: 50.0

### **Task 3:**

Create a Pandas Series using the following data:

Values: [120, 55, 90, 45, 100, 80]
Index: ['item1', 'item2', 'item3', 'item4', 'item5', 'item6']

Perform the following tasks:<br>
Sort the Series by its values in ascending order.<br>
Print the sorted.

In [9]:
data = pd.Series([120, 55, 90, 45, 100, 80], index=['item1','item2','item3','item4','item5','item6'])
sorted_data = data.sort_values()
print(sorted_data)

item4     45
item2     55
item6     80
item3     90
item5    100
item1    120
dtype: int64

### **Task 4:**

Create a Pandas Series with the following values: [5, np.nan, 15, 20, np.nan, 35].

Perform the following tasks:

Check for missing values using the isna() method.<br>
Drop all rows with missing values.<br>
Replace the missing values with a fixed value, say 0.<br>
Print the results after each task.

In [12]:
values = pd.Series([5,np.nan,15,20,np.nan,35])

dt_missing = values.isna()
print('Missing Values: \n',dt_missing)
dt_drop = values.dropna()
print('\nAfter dropping missing values: \n',dt_drop)
dt_fill = values.fillna(0)
print('\nReplacing missing values with 0: \n',dt_fill)

Missing Values:
 0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool

After dropping missing values:
 0     5.0
2    15.0
3    20.0
5    35.0
dtype: float64

Replacing missing values with 0:
 0     5.0
1     0.0
2    15.0
3    20.0
4     0.0
5    35.0
dtype: float64