<a href="https://colab.research.google.com/github/MirzaUmar1/SIC-Artificial-Intelligence/blob/main/Lab%20Tasks/SICLab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab Work** - Class 01

In [ ]:
name = "Mirza Umar"
age = 23
height = 5.10

print("Name: ",name)
print("Age: ",age)
print("Height: ",height)

Name:  Mirza Umar
Age:  23
Height:  5.1

In [ ]:
a = 10
b = 5
print(a," + ",b," = ",a+b)
print(a," - ",b," = ",a-b)
print(a," * ",b," = ",a*b)
print(a," / ",b," = ",a/b)

10  +  5  =  15
10  -  5  =  5
10  *  5  =  50
10  /  5  =  2.0

In [ ]:
a=12
b=2

print("Square of ",a," = ",a ** b)
print("Remainder of ",a,"/",b," = ",a % b)
print("Floor division of ",a,"/",b," = ",a // b)

Square of  12  =  144
Remainder of  12 / 2  =  0
Floor division of  12 / 2  =  6

In [ ]:
name = input("Enter your name: ")
age= int(input("Enter your age:"))

print("Hello ",name,", you are ",age," years old")

Enter your name: Mirza
Enter your age:23
Hello  Mirza , you are  23  years old

In [ ]:
number1 = input("Enter first number: ")
number2 = input("Enter second number: ")

total = int(number1) + int(number2)

print("Sume of ",number1," and ",number2," = ",total)

Enter first number: 38
Enter second number: 46
Sume of  38  and  46  =  84

Control Flow: Conditional Statements

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
    print(number," is positive")
elif number < 0:
    print(number," is negative")
else:
    print(number," is zero")

Enter a number: -20
-20  is negative

In [ ]:
for i in range(1,100):
    if i % 3 ==0:
      print("NUmber: ",i)

NUmber:  3
NUmber:  6
NUmber:  9
NUmber:  12
NUmber:  15
NUmber:  18
NUmber:  21
NUmber:  24
NUmber:  27
NUmber:  30
NUmber:  33
NUmber:  36
NUmber:  39
NUmber:  42
NUmber:  45
NUmber:  48
NUmber:  51
NUmber:  54
NUmber:  57
NUmber:  60
NUmber:  63
NUmber:  66
NUmber:  69
NUmber:  72
NUmber:  75
NUmber:  78
NUmber:  81
NUmber:  84
NUmber:  87
NUmber:  90
NUmber:  93
NUmber:  96
NUmber:  99

In [ ]:
count = 0
while count < 5:
    print("Count: ",count)
    count += 1

Count:  0
Count:  1
Count:  2
Count:  3
Count:  4

In [ ]:
for i in range(1,100):
    if i % 3 ==0:
      if i == 33:
        break
      print("NUmber: ",i)

NUmber:  3
NUmber:  6
NUmber:  9
NUmber:  12
NUmber:  15
NUmber:  18
NUmber:  21
NUmber:  24
NUmber:  27
NUmber:  30

In [ ]:
# Check if a number is prime

number = int(input("Enter a number: "))

if number > 1:
    for i in range(2,number):
        if number % i == 0:
            print(number," is not a prime number")
            break
    else:
        print(number," is a prime number")

Enter a number: 33
33  is not a prime number

**Program to calculate the factorial of a number**
---

In [ ]:
number = int(input("Enter a number: "))
for i in range(1, number):
    number *= i
print("Factorial of ",number," = ",number)

Enter a number: 8
Factorial of  40320  =  40320

In [ ]:
#List

fruits = ["mango", "pear", "orange"]
print(fruits)
print(fruits[0]," is the king of fruits")

['mango', 'pear', 'orange']
mango  is the king of fruits

In [ ]:
fruits.append("banana")
print("After adding: ",fruits)
fruits.remove("pear")
print("After removing: ",fruits)

After adding:  ['mango', 'pear', 'orange', 'banana']
After removing:  ['mango', 'orange', 'banana']

In [ ]:
# Tuples

fruits = ("mango", "pear", "orange")
print(fruits[0]," is the king of fruits")

mango  is the king of fruits

In [ ]:
# Dictionary

student_grades = {"Alice": 90, "Bob": 80, "Charlie": 95}
print(student_grades)

{'Alice': 90, 'Bob': 85, 'Charlie': 95}

In [ ]:
print("Alice's grade: ", student_grades["Alice"])
if student_grades["Alice"] >= 85:
  print("Alice passed")
  print("Congratulations")
else :
  print("Alice failed")

student_grades["Alice"] = 100
print("Alice's new grade: ", student_grades["Alice"])

Alice's grade:  90
Alice passed
Congratulations
Alice's new grade:  100

In [ ]:
#functions

def greet(name):
  print("Hello ",name)

greet("Umar")


def greet_person(name,age):
  print("Hello ",name)
  print("You are ",age," years old")

greet_person("Umar",23)

Hello  Umar
Hello  Umar
You are  23  years old

In [ ]:
def add(a,b):
  return a + b

result = add(10,20)
print("Sum of both numbers is ",result)

Sum of both numbers is  30

In [ ]:
try:
  number = int(input("Enter a number: "))
  print("You entered: ",number)
except ValueError:
  print("Invalid input. Please enter a valid number.")

Enter a number: b
Invalid input. Please enter a valid number.

**Calculator**

In [ ]:
num1 =int(input("Enter first number: "))
num2 =int(input("Enter second number: "))
print("Please select desired operation: ")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
choice = int(input("Enter your choice (1-4): "))
if choice == 1:
  print(num1," + ",num2," = ",num1+num2)
elif choice == 2:
  print(num1," - ",num2," = ",num1-num2)
elif choice == 3:
  print(num1," * ",num2," = ",num1*num2)
elif choice == 4:
  print(num1," / ",num2," = ",num1/num2)
else :
  print("Invalid command")

Enter first number: 12
Enter second number: 8
Please select desired operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter your choice (1-4): 3
12  *  8  =  96

**Even and Odd**

In [ ]:
#even and odd function

number = int(input("Enter a number: "))
if number % 2 == 0:
  print(number," is even")
else :
  print(number," is odd")

Enter a number: 19
19  is odd

**Vowels in a string**

In [ ]:
#count vowels in a string

string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for letter in string:
  if letter in vowels:
    count += 1
print("Number of vowels in ",string," = ",count)

Enter a string: umar
Number of vowels in  umar  =  2